<div class="container-header">
  <div class="conteudo-header">
    <nav>
      <img class="logo-tecnisys" src="../../../../../assets/logo_tec.png" alt="logo">
      <a routerLink="/home">DASHBOARD</a>
    </nav>
    <aside>
      <div class="perfil-usuario-header">
        <div class="alinhamento-dados-usuario-header">
          <strong>Mardonio S Costa</strong>
          <a class="link-perfil-header" routerLink="perfil">Meu perfil</a>
        </div>
        <img class="img-perfil" src="https://api.adorable.io/avatars/50/abott@adorable.png" alt="perfil">
      </div>
    </aside>
  </div>
</div>
